.button {
  height: 50px;
  width: 100px;
  border: 0;
  font-size: 18px;
  background-color: black;
  color: white;
  cursor: pointer;

  &.disabled {
    cursor: not-allowed;
    background-color: #cdcdcd;

    &.inverted {
      background-color: white;
      color: #cdcdcd;;
      border: 1px solid #cdcdcd;;
    }

  }

  &.smaller {
    height: 35px;
    width: 65px;
    font-size: 14px;
  }

  &.inverted {
    background-color: white;
    color: black;
    border: 1px solid black;
  }

  &.rounded {
    border-radius: 0.25rem;
  }

  &.green {
    background-color: green;
    &.inverted {
      background-color: white;
      color: green;
      border: 1px solid green;
    }
  }

  &.blue {
    background-color: #005eb7;
    &.inverted {
      background-color: white;
      color: #005eb7;
      border: 1px solid #005eb7;
    }
  }

  &.red {
    background-color: red;
    &.inverted {
      background-color: white;
      color: red;
      border: 1px solid red;
    }
  }

  &.grey {
    background-color: #5c5c5c;
    &.inverted {
      background-color: white;
      color: #5c5c5c;
      border: 1px solid #5c5c5c;
    }
  }
}
