.button {
  height: 35px;
  width: 100px;
  border: 0;
  font-size: 18px;
  background-color: black;
  color: white;

  &.inverted {
    background-color: white;
    color: black;
    border: 1px solid black;
  }

  &.green {
    background-color: green;
    &.inverted {
      background-color: white;
      color: green;
      border: 1px solid green;
    }
  }

  &.blue {
    background-color: blue;
    &.inverted {
      background-color: white;
      color: blue;
      border: 1px solid blue;
    }
  }

  &.red {
    background-color: red;
    &.inverted {
      background-color: white;
      color: red;
      border: 1px solid red;
    }
}
