.new-post-form-container {
  // background-color: lightblue;
  max-width: 600px;
  margin: auto;
  padding: 15px;
}

.new-post-formgroup {
}

.new-post-form-label {
  display: block;
  padding: 5px;
}

.new-post-form-input {
  padding: 5px;
  width: 100%;
  border: 1px solid rgb(198, 198, 198);
  border-radius: 0;
}

.new-post-form-text {
  padding: 5px;
  width: 100%;
  border: 1px solid rgb(198, 198, 198);
  border-radius: 0;
  height: 200px;
}

.submit-button {
  border: 0;
  border-radius: 0;
  background-color: rgb(79, 118, 139);
  padding: 10px 20px;
  color: antiquewhite;
  cursor: pointer;
}
