.modal {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1000;
  left: 0;
  right: 0;
}

.modal-dialog {
  background-color: white;
  position: relative;
  margin: 20px auto;
  width: auto;
  max-width: 500px;
}

.modal-header {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .title {
    font-size: 20px;
  }
  .button {
    background-color: white;
    height: 32px;
    width: 32px;
    color: black;
    font-size: 20px;
  }
}

.modal-body {
  // background-color: aquamarine;
  padding: 16px;
}

.modal-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;

  .title {
    font-size: 20px;
  }

  .button-group {
    display: flex;
    .button-element {
      padding-left: 10px;
    }
  }
}

.sing-in-modal-from-container {
  position: relative;
  max-width: 500px;
  width: auto;
  margin: 15px auto;
  opacity: 100%;
  z-index: 2000;

  label {
    display: block;
    padding: 10px;
  }

  input {
    height: 40px;
    width: 100%;
    padding: 10px;
  }

  .error {
    background-color: red;
    color: white;
    padding: 5px 10px;
  }
}

.sign-in-form-title {
  padding: 15px 15px 0;
}

.sign-in-close-button {
  position: absolute;
  background-color: bisque;
  border: none;
  width: 25px;
  height: 25px;
  right: 0;
}

.sign-in-form-buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.button-container {
  padding: 10px;
}

.sign-in-form-fields {
  // background-color: aquamarine;
  padding: 15px;
}
