.header {
  background-color: white;
  box-shadow: 0 0 10px rgba(125, 125, 125, 50%);
}

.headerContainer {
  height: 10%;
  min-height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 900px;
  padding: 10px 20px;
  margin: auto;
}

.headerNavMenu {
  display: none;
}

h2 {
  font-family: sans-serif;
  font-size: 28px;
  color: #5c5c5c;
}

.dropdown {
  background-color: white;
  position: absolute;
  right: 20px;
  top: 45px;
  padding: 10px;
  border: 1px solid #d3d3d3;
}

.dropdownRow {
  height: 40px;
  display: flex;
  justify-content: end;
  align-items: center;
}

.dropdownRow button {
  width: 100px;
}

@media (max-width: 500px) {
  .headerMenuButton {
    background-color: aqua;
  }
}

@media (min-width: 501px) {
  .headerMenuButton {
    display: none;
    background-color: blue;
  }

  .headerNavMenu {
    display: flex;
    align-items: center;
  }

  .headerNavMenu > button {
    margin-left: 10px;
  }
}
