.post-container {
  padding: 10px;
  margin: 10px;
  border: 1px solid rgb(220, 220, 220);
  box-shadow: 0 0 5px rgb(220, 220, 220);
  
}

.post-date {
  padding: 5px 0;
  font-size: 12px;
}

.post-title {
  padding: 5px 0;
  font-weight: 700;
  font-size: 20px;
}

.post-body {
  padding: 5px 0;
  font-size: 16px;
  overflow: hidden;
  overflow-wrap: break-word;
}

.post-text {
  overflow: hidden;
}

.post-feedback {
  display: flex;
}

.post-feedback-element {
  padding: 5px 5px;
}
