.post-container {
  padding: 10px;
}

// .post-header {
//   display: flex;
//   justify-content: space-between;
// }

.post-date {
  padding: 5px 0;
}

.post-title {
  padding: 5px 0;
}

.post-body {
  padding: 5px 0;
}

.post-feedback {
  display: flex;
}

.post-feedback-element {
  padding: 5px 5px;
}
